<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{fragmentos :: head('Home - Lista de livros')}">
</head>
<body>
    <main class="container">
        <div>
            <header th:insert="~{fragmentos :: header('Home - Lista de livros')}">
            </header>

            <div class="listaLivros" th:each="livro : ${livros}">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <div> Titulo: <span th:text="${livro.titulo}"></span></div>
                        <div > Preço: <span th:text="${livro.preco}"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{fragmentos :: footer}">
    	</footer>
    </main>
</body>
</html>
